<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ejemplo 1</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
</head>

<div class="container-fluid mt-3" id="app">
    <input type="text" class="form-control" v-model="criterioDeBusquedaPorNombreYApellido"
        placeholder="Filtrar personas por Nombre y Apellido...">
    <hr />
    <input @input="dirty=true" type="text" class="form-control" v-model="criterioDeBusquedaPorDni"
        placeholder="Filtrar personas por DNI...">
    <p v-show="verificarDni() && dirty" class="alert alert-danger">
        El DNI ingresado debe contener al menos 3 números
    </p>
    <br>
    <div class="card-deck m-0">
        <div class="row">
            <div class="col" v-for="persona in personasFiltradas">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">{{getNombreCompleto(persona)}}</h5>
                        <p class="card-text">dni {{persona.dni}}</p>
                        <a href="#" class="card-link">{{persona.correo}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


</html>

<script>
    new Vue({
        el: '#app',
        data: {
            criterioDeBusquedaPorDni: '',
            criterioDeBusquedaPorNombreYApellido: '',
            mostrarError: false,
            dirty: false,
            //Aquí, en este array es donde tienen que agregar su información
            personas: [
                {
                    nombre: "Daniel",
                    apellido: "Sanchez",
                    correo: "danielsanchez68@hotmail.com",
                    dni: "20442873"
                },
                {
                    nombre: "Gustavo",
                    apellido: "Velasquez",
                    correo: "velasquez.gustavo0706@gmail.com",
                    dni: "35708106"
                },
                {
                    nombre: "Jorge",
                    apellido: "Martinez",
                    correo: "jorge.martinez@gmail.com",
                    dni: "42125554"
                },
                {
                    nombre: "Fernando",
                    apellido: "Garcia",
                    correo: "fernando.garcia@gmail.com",
                    dni: "22855787"
                },
                {
                    nombre: "Franco",
                    apellido: "Salgado",
                    correo: "franco.salgado@gmail.com",
                    dni: "24555789"
                },
                {
                    nombre: "Agustin",
                    apellido: "Fernandez",
                    correo: "agus.fernandez@gmail.com",
                    dni: "34525111"
                },
                {
                    nombre: "Gustavo",
                    apellido: "Salazar",
                    correo: "Gustavo.salazar@gmail.com",
                    dni: "39665894"
                },
                {
                    nombre: "Cristian",
                    apellido: "Garcia",
                    correo: "cristian.garcia@gmail.com",
                    dni: "38455222"
                },
            ]

        },
        computed: {
            personasFiltradas() {
                const personasByNombreYApellido = this.personas.filter((persona) => {
                    let nombreYApellido = `${persona.nombre} ${persona.apellido}`
                    return nombreYApellido.toLowerCase().includes(this.criterioDeBusquedaPorNombreYApellido.toLowerCase())
                });
                const personasByDni = personasByNombreYApellido ? personasByNombreYApellido.filter(persona => (
                    persona.dni.includes(this.criterioDeBusquedaPorDni)
                )) : this.personas.filter(persona => persona.dni.includes(this.criterioDeBusquedaPorDni))
                return personasByDni;
            }
        },
        methods: {
            getNombreCompleto(persona) {
                return `${persona.nombre} ${persona.apellido}`
            },
            verificarDni() {
                return this.criterioDeBusquedaPorDni.length <= 3;
            }
        }
    });
</script>